@charset "8-UTF";

body{
    background-image: linear-gradient(to top, rgb(2, 4, 17),rgb(9, 18, 68), rgb(14, 27, 105) );
    margin: 0;
    align-items: center;
    padding: 0;
}
main{
    width: 1270px;
    margin: auto;
}
header{
    width: 1250;
    height: 100%;
    margin-bottom: 20px;;
    background-image: linear-gradient(to top, #E5C045, darkgoldenrod, rgb(134, 99, 9));
    padding: 10px 20px;
}
#logodocabecalho{
    margin-top: 8px;
    margin-left: 85px;
    height: 60px;
}
footer{
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(189, 184, 172);
    margin-top: 100px;
    padding: 10px;
    text-align: center;
}
#botão-voltar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-image:linear-gradient(to top, darkred, rgb(199, 12, 12));
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}
h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image:linear-gradient(40deg,rgb(95, 2, 2), darkred,rgb(168, 23, 23),rgb(95, 2, 2) );
    width: 1246px;
    margin-bottom: 10px;
    border-radius: 2px;
    padding-left: 10px;
}
h2{
    width: 1200px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
}
.capa{
    width: 200px;
    margin-top: 28px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.877);
}
.capa:hover{
    border: 5px solid rgb(228, 205, 0)
}
.capa-pagperson{
    width: 370px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.877);
    float: inline-start;
    margin-right: 10px;
    margin-bottom: 20px;
}
span{
    font-size: small;
}
#dados{
    color: rgb(255, 255, 255);
    text-align: justify;
    height: 500px;
    width: 900px;
    margin-left: 350px;
    text-indent: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(12, 13, 71, 0.479);
    padding: 10px;
    border-radius: 2px;
}
div{
    background-color: darkgrey;
    width: 1235px;
    margin-top: -9px;
    padding: 10px;
    border-radius: 2px;
}
#botão-assistir{ 
    font-family: Arial, Helvetica, sans-serif, Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    background-color: darkred;
    margin: auto;
    width: 150px;
    height: 40px;
    padding: 15px;
    border-radius: 20px;
}
#botão-assistir:hover{
    color: rgb(231, 170, 16);
    border: 3px solid darkgoldenrod;
}
iframe{
    width: 1010px;
    height: 569px;
    margin-top: 30px;
    margin-left: 120px;
}
#personagens{
            text-align: center;
}
.tipos{
    text-align: center;
}